/* Section réservé au Footer */
/* Comment c'est organisé tout ça?

le footer est général, il contient la boite de contenu et les liens de politiques en bas.
La boite de contenu a 3 colonnes: le logo, les hyperliens 1 et les hyperliens 2.
Les colonnes contiennent séparément leur contenu.

*/

footer {
  color: var(--texte-blanc);
  background-color: var(--fond-noir);
  padding: var(--padding-moitie);

  user-select: none;
}

/* Contenu principal du footer */
.boite_contenu {
  display: flex;
  align-items: stretch;
  justify-content: space-between;

  box-shadow: var(--effet-shadow) 0px 0px 30px 0px;
  border-radius: var(--radius-global);

  /* Vérifier cette valeur selon le padding mit sur le site web */
  padding: var(--padding-moitie);
}

/* Les deux colonnes des hyperliens */
.les_hyperliens {
  /* espace dispo restant selon le main div */
  display: flex;
  justify-content: space-between;
  width: var(--width-general);
  line-height: var(--line-height);
}

.lesreseaux_sociaux {
  /* VERIFIER ICI SVP */
  width: 65%;
  height: 100%;
  padding-top: 40%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Les colonnes du footer */
.divfoot {
  display: flex;
  flex-direction: column;
  width: var(--width-general);
}

.divfoot .lesreseaux_sociaux {
  display: none;
}

/* Colonne de gauche du footer */
/* espace du main div  */
/* .divfoot_main {
  width: 30%;
} */

/* Hyperlien balise a effets */
footer .boite_contenu a {
  text-decoration: none;
  transition-duration: 0.5s;
}

footer a:hover {
  color: var(--texte-blanc-hover2);
}

footer .boite_contenu a:hover {
  color: var(--texte-blanc-hover);
  text-decoration: underline;
}

footer .logo a:hover {
  color: var(--texte-blanc-hover2);
  text-decoration: none;
}

/* Section du bas du pied de page */

.lesconditions {
  display: flex;
  justify-content: space-between;
  padding: 0% var(--padding-moitie);
}

.lesconditions p {
  font-size: small;
  width: var(--width-general);
}

.petitsliens_conditions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: var(--width-general);
}

.petitsliens_conditions a {
  font-size: small;
}

/* ////////////////////////////////////////////////////////////////////////////////////////// */
/* ------------------------------------------------------------------------------------------ */
/* SECTION MOBILE FIRST */
/* ------------------------------------------------------------------------------------------ */
/* ////////////////////////////////////////////////////////////////////////////////////////// */

@media screen and (max-width: 900px) {
  footer {
    text-align: center;
  }

  .boite_contenu {
    justify-content: center;
  }

  .divfoot {
    width: 90%;
    align-items: center;
  }

  .les_hyperliens {
    display: none;
  }

  .divfoot .lesreseaux_sociaux {
    display: flex;
    padding-top: 20%;
    width: 90%;
  }

  .lesconditions {
    flex-direction: column;
    padding-top: var(--padding-moitie);
    align-items: center;
  }

  .petitsliens_conditions {
    flex-direction: column;
    /* align-items: flex-start;
    justify-content: flex-start; */
    line-height: 2.5;
  }
}
