/* Section réservé pour le haut de page seulement */

header {
  /* ATTENTION ICI PEUT CHANGER BEAUCOUP LA TAILLE
  selon le root element (rem) */
  width: 90%;
  height: 5rem;
  padding: 0% var(--padding-moitie);
  user-select: none;

  /* positions */
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;

  transition-duration: 0.5s;
  filter: brightness(0.4);
  opacity: 0.9;
  background-color: var(--fond-noir);
  color: var(--texte-blanc);
}

header:hover {
  filter: brightness(1);
  opacity: 1;
}

header .logo a {
  text-decoration: none;
}

header .logo a:hover {
  color: var(--texte-blanc-hover2);
}

.logo {
  font-family: "Yeseva One", serif;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(1.875rem, 1.528rem + 1.852vi, 3.75rem);

  margin: 0;
}

/* .logo:hover {
  cursor: pointer;
  color: var(--texte-blanc-hover2);
} */

nav {
  width: var(--width-general);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav a {
  color: var(--texte-blanc);
  text-decoration: none;
}

nav a:hover {
  color: var(--texte-blanc-hover);
  text-decoration: underline;
}

/* Section plus d'infos */
.plusinfos {
  display: flex;
  align-items: center;
}

.plusinfos:hover {
  color: var(--bleu-brillant);
  text-decoration: none;
  cursor: pointer;
}

.plusinfos:hover svg path {
  fill: var(--bleu-brillant);
}

.optionsplus {
  /* Valeur change selon la hauteur du header */
  top: 4rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  line-height: var(--line-height);

  background-color: var(--fond-noir);
  border: var(--effet-border);

  /* Peut changer pour plus de simplicité */
  padding: 1%;
}

/* Les sélecteurs ci-dessous vont être utilisé en Javascript sur toutes les pages du site web */
/* ////////////////////////////////////////////////////////////////////////////////////////// */

.cache {
  display: none;
}
