/* Ce fichier est utilisé pour les boutons, les svgs et autres éléments d'intéraction. */

/* svg {
  
} */

.bouton1 {
  background: var(--fond-noir);
  border: 1px solid var(--texte-blanc);
  color: var(--texte-blanc);
  padding: 15px 20px 15px 20px;

  box-shadow: var(--fond-noir) 3px 3px 2px, var(--bleu-brillant) 5px 5px 2px;
}

.bouton1:hover {
  background: var(--fond-noir-hover);
  cursor: pointer;
}
