/* LES SECTIONS DU SITE WEB */
/* ///////////////////////////////////////// */

.section1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--texte-blanc);

  background-image: url(../dessin/fond_fonc5.png);
}

.section2 {
  display: flex;
  justify-content: space-between;
  color: var(--texte-blanc);
  background-color: var(--fond-noir);
}

.section3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  color: var(--texte-blanc);
  background-image: url(../dessin/fond_fonc1.png);
}

.section4 {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: var(--fond-noir);
  background-image: url(../dessin/fond_pale3.png);
  background-size: cover;
  background-repeat: no-repeat;
  /* background-color: var(--fond-noir); */
}

.section5 {
  display: flex;
  flex-direction: column;

  color: var(--texte-blanc);
  background-color: var(--fond-noir);
  background-image: url(../images/soleilcouc_.png);
  background-size: cover;
  background-position: 50% 20%;
}

.tempo {
  background-image: url(../dessin/fond_fonc4.png);
  background-color: var(--fond-noir);
  color: var(--texte-blanc);
}

/* Section pour les images (size) */
/* ///////////////////////////////////////// */

.imgboxsize {
  height: 20rem;
  box-shadow: var(--box-shadow1);
  filter: grayscale(1) brightness(0.8) contrast(1.3);

  /* Variable? */
  margin: 10% 0%;
}

/* Pour section2 */
.imgbox1 {
  width: var(--width-general);
  height: 30rem;
  z-index: 3;
  background-image: url(../images/leschaussures/debase2.png);
  background-repeat: no-repeat;
  /* A voir si le size est judicieux ici */
  background-size: 250%;
  background-position: 50% 40%;
}

/* Pour section3 - seulement */
.imgbox2 {
  background-image: url(../images/leschaussures/modele1.png);
  background-repeat: no-repeat;
  /* A voir si le size est judicieux ici */
  background-size: 250%;
  background-position: 37% 87%;
  transition-duration: 0.5s;
}

.imgbox3 {
  /* width: 40%;
  height: 30rem; */
  background-image: url(../images/leschaussures/modele3.png);
  background-repeat: no-repeat;
  /* A voir si le size est judicieux ici */
  background-size: 250%;
  background-position: 40% 70%;
  transition-duration: 0.5s;
}

.imgbox4 {
  /* width: 40%;
  height: 30rem; */
  background-image: url(../images/leschaussures/modele2.png);
  background-repeat: no-repeat;
  /* A voir si le size est judicieux ici */
  background-size: 270%;
  background-position: 60% 40%;
  transition-duration: 0.5s;
}

.imgbox5 {
  /* Cette section est à revérifier */
  width: 20%;
  /* width: var(--width-general); */
  height: 35rem;
  margin: var(--padding-moitie) 0;
  background-image: url(../images/leschaussures/pechemure_.png);
  background-repeat: no-repeat;
  box-shadow: var(--box-shadow1);
  filter: brightness(0.9) contrast(1.1) saturate(1);
  /* A voir si le size est judicieux ici */
  background-size: cover;
  background-position: 40% 60%;
  /* transform: rotateZ(-2deg); */
  transition-duration: 0.5s;
}

.imgbox6 {
  /* Cette section est à revérifier */
  /* width: var(--width-general); */
  width: 20%;
  height: 35rem;
  margin: var(--padding-moitie) 0;
  background-image: url(../images/leschaussures/orangeflambe_.png);
  background-repeat: no-repeat;
  box-shadow: var(--box-shadow1);
  filter: brightness(0.9) contrast(1.1) saturate(1);
  /* A voir si le size est judicieux ici */
  background-size: cover;
  background-position: 40% 60%;
  /* transform: rotateZ(-2deg); */
  transition-duration: 0.5s;
}

.imgbox7 {
  /* Cette section est à revérifier */
  /* width: var(--width-general); */
  width: 20%;
  height: 35rem;
  margin: var(--padding-moitie) 0;
  background-image: url(../images/leschaussures/strawberry_.png);
  background-repeat: no-repeat;
  box-shadow: var(--box-shadow1);
  filter: brightness(0.9) contrast(1.1) saturate(1);
  /* A voir si le size est judicieux ici */
  background-size: cover;
  background-position: 40% 60%;
  /* transform: rotateZ(-2deg); */
  transition-duration: 0.5s;
}

.imgbox8 {
  /* Cette section est à revérifier */
  /* width: var(--width-general); */
  width: 20%;
  height: 35rem;
  margin: var(--padding-moitie) 0;
  background-image: url(../images/leschaussures/cerise_.png);
  background-repeat: no-repeat;
  box-shadow: var(--box-shadow1);
  filter: brightness(0.9) contrast(1.1) saturate(1);
  /* A voir si le size est judicieux ici */
  background-size: cover;
  background-position: 40% 60%;
  /* transform: rotateZ(-2deg); */
  transition-duration: 0.5s;
}

/* .sec3 {
  display: flex;
  flex-direction: row;
  } */

.sec1 {
  width: var(--width-general);
  z-index: 3;
}

.sec2 {
  display: flex;
  justify-content: space-between;
  padding: 0 0 var(--padding-moitie) 0;
}

.sec3 {
  /* Cette section est à revérifier */
  /* width: var(--width-general); */
  width: 30%;
}

.sec4 {
  /* Cette section est à revérifier */
  /* width: var(--width-general); */
  width: 50%;
  box-shadow: var(--box-shadow6);
  backdrop-filter: var(--effet-blur);
  padding: var(--padding-moitie);
}

.sec5 {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.effet-blur {
  backdrop-filter: var(--effet-blur);
  box-shadow: var(--box-shadow6);
  padding: var(--padding-moitie);
  filter: saturate(1.8);
}

.blur-bloc {
  position: absolute;
  width: 70%;
  height: 40%;
  z-index: 1;

  backdrop-filter: var(--effet-blur);
  box-shadow: var(--box-shadow6);
  padding: var(--padding-moitie);
  transform: scale(1.12);
  filter: saturate(1.5);
}

.spline {
  display: block;
}

/* ////////////////////////////////////////////////////////////////////////////////////////// */
/* ------------------------------------------------------------------------------------------ */
/* SECTION MOBILE FIRST */
/* ------------------------------------------------------------------------------------------ */
/* ////////////////////////////////////////////////////////////////////////////////////////// */

@media screen and (max-width: 900px) {
  .section1 {
    flex-direction: column;
    background-position: top;
    text-align: center;
  }

  .section2 {
    flex-direction: column;
  }

  .section3 {
    background-position: center;
  }

  .section4 {
    text-align: center;
  }

  .sec1 {
    width: 100%;
  }

  .sec2 {
    flex-direction: column;
    align-items: center;
  }

  .sec3 {
    width: 90%;
  }

  .sec4 {
    width: 90%;
    /* padding: var(--padding-moitie); */
  }

  .sec5 {
    flex-wrap: wrap;
  }

  .imgboxsize {
    height: 10rem;
    width: 100%;
  }

  .imgbox1 {
    width: 90%;
    height: 20rem;
    margin-top: var(--padding-site);
    background-position: 50%;
  }

  .imgbox5 {
    width: var(--width-general);
    height: 10rem;
    margin: var(--padding-moitie) 0;
    background-size: 250%;
  }

  .imgbox6 {
    width: var(--width-general);
    height: 10rem;
    margin: var(--padding-moitie) 0;
    background-size: 250%;
  }

  .imgbox7 {
    width: var(--width-general);
    height: 10rem;
    margin: var(--padding-moitie) 0;
    background-size: 250%;
  }

  .imgbox8 {
    width: var(--width-general);
    height: 10rem;
    margin: var(--padding-moitie) 0;
    background-size: 250%;
  }

  .blur-bloc {
    height: 75%;
  }

  .spline {
    display: none;
  }
}
