/*
*{
*/

:root {
  --fond-noir: #181818;
  --fond-noir-hover: #173333;
  --fond-gris: #d2d2d2;
  --plus-pale: #efefef;
  --texte-blanc: #f1f1f1;
  --texte-blanc-hover: #6dc7c5;
  --texte-blanc-hover2: #989898;
  --texte-fonce: #181818;
  --rouge-attirant: #d13232;
  --bleu-brillant: #2ce5eb;

  /* Effets autres */
  --effet-shadow: #f1f1f121;
  --effet-blur: blur(20px);
  --effet-border: 1px solid var(--texte-blanc);
  --radius-global: 5px;
  --line-height: 2.5;

  /* Box shadow effects */
  --box-shadow1: #00000025 0px 4px 8px;
  --box-shadow2: #d1233186 -15px 25px 46px;
  --box-shadow3: #d1233186 -5px 15px 15px;
  --box-shadow4: #2ce5eb -10px 6px 25px;
  --box-shadow5: #868686 -10px 6px 35px;
  --box-shadow6: rgba(0, 0, 0, 0.3) 10px 10px 50px;

  /* Width et padding */
  --padding-extra: 15%;
  --padding-site: 10%;
  --padding-moitie: 5%;
  --width-general: 40%;
}

html {
  background-color: black;
}

body {
  font-family: "Poppins", serif;
  line-height: 1.5;
}

.all-margins {
  padding: 0 var(--padding-site) 0 var(--padding-site);
}

.margins {
  padding: var(--padding-site) var(--padding-site);
}

a {
  color: var(--texte-blanc);
}

/* Section pour les sélecteurs H (H1, H2, H3...) */
.mega_texte {
  font-size: clamp(2.25rem, 1.926rem + 1.728vi, 3.75rem);
}

p {
  font-size: clamp(0.875rem, 0.852rem + 0.123vi, 1rem);
}

h1 {
  font-size: clamp(2rem, 1.657rem + 0.494vi, 2.25rem);
}

h2 {
  font-weight: 600;
  font-size: clamp(1rem, 1.204rem + 0.247vi, 1.5rem);
}

h3 {
  font-weight: 500;
  font-size: clamp(1rem, 0.954rem + 0.247vi, 1.25rem);
}

h4 {
  font-weight: 400;
  font-size: clamp(1.05rem, 0.681rem + 0.37vi, 1.125rem);
}

/* ////////////////////////////////////////////////////////////////////////////////////////// */
/* ------------------------------------------------------------------------------------------ */
/* SECTION MOBILE FIRST */
/* ------------------------------------------------------------------------------------------ */
/* ////////////////////////////////////////////////////////////////////////////////////////// */

@media screen and (max-width: 900px) {
  .mega_texte {
    text-align: center;
  }
}
