/*
*{
*/

:root {
  --fond-noir: #181818;
  --fond-noir-hover: #173333;
  --fond-gris: #d2d2d2;
  --plus-pale: #efefef;
  --texte-blanc: #f1f1f1;
  --texte-blanc-hover: #6dc7c5;
  --texte-blanc-hover2: #989898;
  --texte-fonce: #181818;
  --rouge-attirant: #d13232;
  --bleu-brillant: #2ce5eb;

  /* Effets autres */
  --effet-shadow: #f1f1f121;
  --effet-blur: blur(20px);
  --effet-border: 1px solid var(--texte-blanc);
  --radius-global: 5px;
  --line-height: 2.5;

  /* Box shadow effects */
  --box-shadow1: #00000025 0px 4px 8px;
  --box-shadow2: #d1233186 -15px 25px 46px;
  --box-shadow3: #d1233186 -5px 15px 15px;
  --box-shadow4: #2ce5eb -10px 6px 25px;
  --box-shadow5: #868686 -10px 6px 35px;
  --box-shadow6: rgba(0, 0, 0, 0.3) 10px 10px 50px;

  /* Width et padding */
  --padding-extra: 15%;
  --padding-site: 10%;
  --padding-moitie: 5%;
  --width-general: 40%;
}

body {
  font-family: "Poppins", serif;
  line-height: 1.5;
}

.all-margins {
  padding: 0 var(--padding-site) 0 var(--padding-site);
}

.margins {
  padding: var(--padding-site) var(--padding-site);
}

a {
  color: var(--texte-blanc);
}

/* Section pour les sélecteurs H (H1, H2, H3...) */
.mega_texte {
  font-size: 3em;
}

p {
  font-size: small;
}

h2 {
  font-weight: 600;
}

h3 {
  font-weight: 500;
}

h4 {
  font-weight: 400;
}
