/*
*{
*/

:root {
  --fond-noir: #181818;
  --fond-gris: #d2d2d2;
  --plus-pale: #efefef;
  --texte-blanc: #f1f1f1;
  --texte-blanc-hover: #8cc9c8;
  --texte-fonce: #181818;
  --rouge-attirant: #d13232;
  --bleu-brillant: #2ce5eb;
}

body {
  font-family: "Poppins", serif;
}

.all-margins {
  padding: 0 3% 0 3%;
}

h1 {
  font-family: "Yeseva One", serif;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(1.875rem, 1.528rem + 1.852vi, 3.75rem);

  margin: 0;
}
