/* Les sections ci-dessous sont utilisé pour la page de présentation seulement */
/* /////////////////////////////////////////////////////////////////////////// */

.webkit_texte {
  background: var(--texte-blanc);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ultra_texte {
  font-size: clamp(4.375rem, 2.5rem + 6vi, 6rem);
}

.all-slides {
  height: 90vh;
  width: 100%;
  background-color: var(--fond-noir);
  color: var(--texte-blanc);
}

.backg {
  width: 100%;
  height: 100%;
  background-size: cover;
}

.p1 {
  background-image: url(../dessin/fond_fonc5.png);
}

/* .slide1 {
} */
